---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h4>DyCon Manual
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
          {% for aut in page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{site.data.authors[aut].web }}">{{ site.data.authors[aut].name }}</a></span></span>
          {% endfor %}
        {% endif %}
      </p>
    </h4>
    <h1>
      {{page.title}} - Function
    </h1>
  </header>
  <div class="post-content" itemprop="articleBody">
    <p>{{page.long_description}}</p>

    <h4>Input Variables</h4>
    <hr><hr/>  
    <table>
        <tr>
            <th>Name</th>
            <th>Dimension</th>
            <th>Description</th>
        </tr>
      {% for invar in page.inputs_variables %}
        <tr>
          <td>{{invar[0]}}</td>
          <td>{{invar[1].dimension}}</td>
          <td>{{invar[1].description}}</td>
        </tr>
      {% endfor %}
    </table>

    <h4>Output Variables</h4>
    <hr><hr/>  

    <table>
        <tr>
            <th>Name</th>
            <th>Dimension</th>
            <th>Description</th>
        </tr>
      {% for invar in page.outputs_variables %}
        <tr>
          <td>{{invar[0]}}</td>
          <td>{{invar[1].dimension}}</td>
          <td>{{invar[1].description}}</td>
        </tr>
      {% endfor %}
    </table>

    <h4>Example</h4>
    <hr><hr/>  
    <p></p>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>