---
layout: default
---


<div class="home">

  
  {{ content }}


<h2 class="category">Examples</h2>
{% for WP in site.data.workpackages %}
  <h3>{{WP[1].name}}</h3>
    <ul>
        {% for examples in site.categories.examples %}
          {% if WP[0] == examples.WP %}
            <li><a href="{{site.baseurl}}{{examples.url}}">{{examples.title}}</a></li>
          {% endif %}
        {% endfor %}

    </ul>

{% endfor %}

<h2 class="category">Functions</h2>
<ul>
    {% for functions in site.categories.functions %}
    <li><a href="{{site.baseurl}}{{functions.url}}">{{functions.title}}</a>: {{functions.short_description}}</li>
    {% endfor %}
</ul>

</div>







</div>
