---
layout: default
---

<!-- Post Header -->
<header class="intro-header">
    <div class="container" style="padding-top: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding: 0px 0">
                    <h1>{{ page.title }}</h1>

					<span class="meta">Posted by:
					{% for aut in page.author %}
						• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{site.data.members[aut].web }}">{{ site.data.members[aut].name }}</a></span></span>
					{% endfor %}
					</span>
					<p style="padding-top: 10px">
						<div style="padding:20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<p>To start this tutorial, write the following command in the MATLAB console
								<pre class="highlight"><code><span class="nb">open {{page.matlab}}</span></code></pre>
							</p>
						</div>
					</p>


                </div>
            </div>
		</div>


	</div>
</header>


<!-- Post Content -->
{% include imagezoom.html %}

<article>
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content | markdownify }}

                <hr>

            </div>
        </div>
    </div>
</article>


<hr>
